{
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false, 
  "printWidth": 80, 
  "jsxBracketSameLine": false, 
  "parser": "typescript",
  "jsxSingleQuote": true
}