@font-family: 'Roboto';
@primary-color-rgb: 77, 111, 224;
@primary-color: #4285f4;

// @border-color-split: rgba(255,255,255,0.06);
// // https://brandcolors.net/c/google,microsoft
// @font-body-color: rgb(222, 222, 222);
// @neutral-dark: hsl(230, 13%,83%);
// @blue-accent-primary: #00a1f1;
// @blue-primary: #4285f4;
// @blue-primary-dark: @blue-primary;
// @base-milk-color: #FDFDFD;
// @background-color: #272724;
// @background-st-color: #242323CC;
// @deep-dark: rgb(32, 36, 51);
// @neutral-tone-icon: #4c5573;
// @neutral-tone-icon-60: rgba(@neutral-tone-icon, 0.6);
// @theme-dark-text-3: rgba(255, 255, 255, 0.4);
// @theme-border-3: rgb(20, 20, 20);
// @tool-outline-color: @border-color-split;
// @tool-background-color: #1C1C14;
// @object-background-color: #212119;
// @tool-grid-color: hsla(0, 0%, 9%, 0.04);

// @heading-color: @font-body-color; // heading text color
// @text-color: @font-body-color; // major text color
// @text-color-secondary: @neutral-dark; // secondary text color
// @disabled-color: @font-body-color; // disable state color
// @border-radius-base: 2px; // major border radius
// @border-color-base: #77778F; // major border color

// // Customizations
// @menu-collapsed-width: 40px;
// @menu-icon-size: 12px;
// @menu-icon-size-lg: 12px;

// // @menu-inline-toplevel-item-height: 64px;
// // @menu-item-height: 64px;
// @menu-bg: @avatar-bg;
// @layout-header-background: @layout-body-background;
// @menu-item-active-bg: transparent;
// @layout-sider-background: transparent;
// @layout-sider-background-light: transparent;
// @shadow-e1: 0px 3px 4px rgba(33, 9, 9, 0.06);
// @shadow-e2: 0px 8px 16px rgba(33, 9, 9, 0.08);
// @shadow-e3: 0px 30px 30px rgba(33, 9, 9, 0.04);
// @shadow-e4: 0px 24px 60px rgba(33, 9, 9, 0.16);
// @shadow-hover: rgba(33, 9, 9, 0.08);

// @import './variables-shared.less';
