// @import '~antd/dist/antd.less';

// body {
//   background: #0CC;
// }

.main {
  background: green;
}

// global style overrides
.djs-theme {
  // background-color: pink;

  .ant-notification-hook-holder{
    right: 135px;
    top: 10px;
  }
}